name: Build-GMpro2-Final
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Arduino CLI
        uses: arduino/setup-arduino-cli@v1

      - name: Install ESP8266 Core
        run: |
          arduino-cli core update-index --additional-urls http://arduino.esp8266.com/stable/package_esp8266com_index.json
          arduino-cli core install esp8266:esp8266@3.0.2 --additional-urls http://arduino.esp8266.com/stable/package_esp8266com_index.json

      - name: Compile GMpro2
        run: |
          arduino-cli compile --fqbn esp8266:esp8266:d1_mini:eesz=4M2M,ip=lm2f --output-dir ./output GMpro2.ino

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: GMpro2-Binary-Files
          path: ./output/*.bin
